.App {
    height: 80vh;
    width: 450px;
    background-color: lightgrey;
    margin: 20px 80px;
    padding: 0px 50px;
}

.summary-box {
    display: flex;
    justify-content: space-around;
}

.list-style {
    display: flex;
    justify-content: space-around;
}